@mixin flex-row-align-centered($justy: start) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: $justy;
}

@mixin flex-column-align-centered($justy: start) {
	@include flex-row-align-centered($justy);
	flex-direction: column;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin wh($var) {
	width: $var;
	height: $var;
}

@mixin py($var) {
	padding-top: $var;
	padding-bottom: $var;
}

@mixin px($var) {
	padding-right: $var;
	padding-left: $var;
}

@mixin max-res-width($var) {
	max-width: $var;
	width: 100%;
}

@mixin button-style {
	border: 1px solid rgba($color-main-green, 0.12);
	background-color: rgba($color-main-green, 0.06);
	transition: all 0.3s;

	&:hover {
		background-color: rgba($color-main-green, 0.12);
	}

	&--active {
		background-color: $color-main-green;
		color: white;

		&:hover {
			background-color: $color-main-green;
		}
	}
}
