$desktop: 1280px;
$tablet: 846px;

$color-main-green: #09a66d;
$color-light-green: #f3fbf8;
$color-black: #222222;
$color-pale-black: #555555;
$color-neon-green: #59cca6;
$color-pale-green: #91ad41;
$color-pale-yellow: #e3b375;
$color-pale-red: #ef7f94;

@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
